<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Student Details</h1>
        <table border = "2" id = "student-details-table">
            <tr>
                <th>Student Id</th>
                <th>Course Id</th>
                <th>Marks</th>
            </tr>
            
            {% for i in data %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
            </tr>
            {% endfor %}
            </tr>
    
            <tr>
                <td colspan = "2" style="text-align:center"> Total Marks </td>
                <td>{{ total_marks_data }}</td>
            </tr>
        </table>
        <br>
        <a href="/">Go Back</a>
    </body>
</html>
