<!DOCTYPE html>
<html>
<head>
    <title>Update Course</title>
</head>
<body>
    <div>
        <h1>Update Course</h1>
    </div>
    <form action='/course/{{ course_id }}/update' method="POST" id="update-course-form">
        <div>
            <label>Course Code:</label>
            <input type="text" name="code" value="{{ current_code }}" disabled />
        </div>
        
        <div>
            <label>Course Name:</label>
            <input type="text" name="c_name" value="{{ current_c_name }}" required />
        </div>
    
        <div>
            <label>Course Description:</label>
            <input type="text" name="desc" value="{{ current_desc }}"/>
        </div>

        <div>
            <input type="submit" value = "Submit">
        </div>
    </form>
</body>
</html>